<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Checkout - P & P</title>
    <link rel="stylesheet" href="/checkout.css">
</head>
<body class="general-page">
    <%- include('partials/navbar'); %>

    <div class="about-us-container">
        <h1 class="about-title">View Cart</h1>

        <!-- Display Cart Items -->
        <div id="cart-items" onload="">
            <% if (cart && cart.length > 0) { %>
            <h2>Your Cart:</h2>
            <% cart.forEach(item => { %>
                <div class="cart-item">
                    <img src="/images/<%= item.name.toLowerCase().replace(/\s+/g, '') %>.JPG" alt="<%= item.name %>">
                    <p><strong><%= item.name + ' ' + item.type %></strong></p>
                    <p>Price: $<%= item.price %></p>
                    <%= item.id %><br>
                    <p><button class="remove-from-cart" data-product-id="<%= item.id %>">Remove</button></p>
                </div>
            <% }) %>
            <% } else { %>
            <p>Your cart is empty.</p>
            <% } %>
        </div>
        <div id="checkoutReady" style="display: none;">
            <h1 id="cart-total-header">Cart Total: $<%=
                cart.reduce((total, item) => total + parseInt(item.price), 0)
              %></span></h1>
            <!-- Checkout Form -->
            <button id="checkout-button">Checkout</button>
        </div>
        <div id="checkout-form-container" style="display: none;">
            <h2>Checkout</h2><br>
            <form id="checkout-form" action="/checkout" method="POST">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" />
            <br>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" />
            <br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" />
            <br>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" />
            <br>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" />
            <br>
            <label for="state">State:</label>
            <input type="text" id="state" name="state" />
            <br>
            <label for="zip">Zip:</label>
            <input type="text" id="zip" name="zip" />            
            <br>
            <select id="wrist_size" name="wrist_size">
                <option value="0">Select Wrist Size</option>
                <option value="8">Newborn - 8 CM</option>
                <option value="9.5">Infant - 9.5 CM</option>
                <option value="13">Youth Small - 13 CM</option>
                <option value="14">Youth Medium - 14 CM</option>
                <option value="15">Youth Large - 15 CM</option>
                <option value="16">Adult Small - 16 CM</option>
                <option value="17">Adult Medium - 17 CM</option>
                <option value="18">Adult Large - 18 CM</option>
                <option value="19">Adult XLarge - 19 CM</option>
            </select>
            <br>
            <button type="submit">Submit Order</button>
            <br>
            </form>
        </div>
    </div>
    <script src="/script/checkout.js" onload="toggleCheckout('<%= cart.length %>')"></script>
</body>
</html>